[Unit]
Description=Octopus Server
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/twistd -n --pidfile= octopus-editor --wshost 192.168.33.12
WorkingDirectory=/vagrant
User=vagrant
Group=vagrant
Restart=always

[Install]
WantedBy=multi-user.target
