[Unit]
Description=Octopus Server

[Service]
ExecStart=/usr/local/bin/twistd \
    --nodaemon \
    --pidfile= \
    --rundir=/vagrant \
    octopus-editor --wshost 192.168.33.12

WorkingDirectory=/vagrant

User=vagrant
Group=vagrant

Restart=always

[Install]
WantedBy=multi-user.target
